@font-face {
    font-family: 'opensans';
    src: url('Opensans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'opensansbold';
    src: url('Opensans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'nasalization';
    src: url('nasalization-rg.ttf');
}

.align{
    display: flex;
}

header h1 {
    margin: auto;
    font-family: 'nasalization';
    font-size: 40px;
    color: #27d1ff;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 1.2em;
}

body {
    background-color: #F2F2F2;
    font-family: 'opensans';
}

Main {
    max-width: 850px;
    text-align: center;
    word-wrap: normal;
    margin-left: auto;
    margin-right: auto;
}

.Programme {
    max-width: 850px;
    text-align: center;
    word-wrap: normal;
    margin-left: auto;
    margin-right: auto;
    border: thick double #17C1FF;
}

header {
    background-image: url(texture-header.jpg);
    height: 150px;
    position: relative;
}

.navigation {
    display: inline-block;
    flex-direction: row;
    background-color: rgb(43, 42, 42);
    padding: 8px 25px;
    margin: 0px;
    color: white;
    text-align: right;
    width: 97.4%;
    vertical-align: middle;
    position: relative;
    bottom: 3.8em;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline;
}

.navigation a {
    display: inline-block;
    margin: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
}


.navigation a:hover{
    color: #17C1FF;
}

.navigation a:active {
    color: #17C1FF;
    font-family: 'opensansbold';
}


.en-cours a {
    color: #17C1FF;
    font-family: 'opensansbold';
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.images {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

main h2 {
    text-transform: uppercase;
    text-shadow:0.1em 0.1em 0.2em black;
    color: #e6e6e6;
    background-color: rgb(231, 227, 227);
}

main p {
    max-width: 750px;
    text-align: center;
    padding: 10px;
    word-wrap: normal;
}

.images img {
    margin: 0 7px;
    float: left;
}

table {
    text-align: left;
    font-family: 'opensans';
    vertical-align:middle;
}

th {
    background-color: skyblue;
    text-align: center;
}

.tableau {
    display: flex;
    max-height: 480px;
    overflow-y: auto;
}

.week1 {
    color: #F2F2F2;
}


input[type=text], textarea {
    width: 250px; 
    padding: 12px; 
    border: 2px solid #e6e6e6; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

input[type=text], textarea {
    font-family: 'opensans';
}


input[type=text] {
    height: 30px;
}

input[type=text]:hover {
    border: blue 2px dashed;
}

textarea:hover {
    border: blue 2px dashed;
}


  input[type=submit] {
    background-color: #817e7e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #17C1FF;
  }

  input[type=submit]:active {
    box-shadow: -1px 2px 12px 5px rgb(85, 83, 83) inset;
  }

  .formulaire {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
    padding: 0 10%;
    border: #17C1FF 1.5mm ridge;
    max-width: 300px;
  }

  .navigation {
      color: #17C1FF;
  }